body{
    /* margin: 0px; */
    padding: 0px;
    background-color:lightskyblue;
}
#guess{
    font-size: 16px;
    width: 40%;
    text-align: center;
    border: 0px;
    background-color: lightskyblue;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
#playagain{
    padding-left: 35%;
    padding-right: 35%;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
#arrow{
    background-color: red;
    clip-path: circle(50% at 50% 50%);
    margin-top: 15%;
    width: 70%;
    height: 50%;
    padding-top: 15%;
    color: white;
    font-weight: bolder;

}
label{
    padding: 10px;
    border: 1px dashed red;
}
#message{
    font-weight: bolder;
    font-size: 35px;
    margin: 5px;
    color: white;
}

#row11 {
    padding: 30px;
    margin-top: 20px;
    color: white;
    background-color: red;
    text-align: center;
}

.won{
    display: none;
    margin: 0px auto;
    background-color: green;
    text-align: center;
    padding: 80px 

   
}
.won h1{
    color: white;
    font-weight: bolder;
    font-size: 85px;
}
.won h2{
    color: white;
    font-weight: bolder;
    font-size: 55px;
}

.loss{
    display: none;
    margin: 0px auto;
    background-color:red;
    text-align: center;
    padding: 80px 

   
}
.loss h1{
    color: white;
    font-weight: bolder;
    font-size: 85px;
}
.loss h2{
    color: white;
    font-weight: bolder;
    font-size: 55px;
}